<app-sidebar></app-sidebar>

<div class="grid lg-grid-col  items-center justify-center">
  <div class="rounded-lg overflow-hidden shadow-lg border bg-white w-5/6 h-full mx-auto mt-9">
    <p-tabView>
      <p-tabPanel header="Detalle Propiedad">
        <!-- <p class="text-blue-primary-propcheck text-lg font-bold lg:ml:3">Tipo de Propiedades</p> -->

        <div class="grid lg:grid-cols-3 ms:grid-cols-1 grid-flow-col ms:justify-center ms:items-center mt-4 gap-4">
          <div class="relative">
            <p class="font-helvetica font-bold lg:ml:3">Tipo de propiedad</p>
            <!-- <p-dropdown class=" bold bg-gray-200 h-9 border rounded-lg pr-10 pl-10 w-full lg:min-w-400px" [(ngModel)]="selectedCity" optionLabel="name" [showClear]="true" placeholder="Select a City"></p-dropdown> -->
            <input type="text" placeholder={{property.type}}type
              class="bg-gray-200 font-bold shadow-xl h-9 border rounded-lg pr-10 pl-10 w-full lg:min-w-400px">
          </div>
          <div class="relative">
            <p class="font-helvetica font-bold  lg:ml:3">Región</p>
            <input type="text" placeholder={{property.region}}
              class="bg-gray-200 font-bold shadow-xl h-9 border rounded-lg pr-10 pl-10 w-full lg:min-w-400px">
          </div>
          <div class="relative">
            <p class="font-helvetica font-bold  lg:ml:3">Dirección</p>
            <input type="text" placeholder={{property.address}}
              class="bg-gray-200 font-bold shadow-xl h-9 border rounded-lg pr-10 pl-10 w-full lg:min-w-800px">
          </div>
        </div>
        <div class="grid lg:grid-cols-4 grid-flow-col mt-4 gap-4">
          <div class="relative">
            <p class="font-helvetica font-bold  lg:ml:3">Municipalidad</p>
            <input type="text" placeholder={{property.municipality}}
              class="bg-gray-200 shadow-xl h-9 font-bold border rounded-lg pr-10 pl-10 w-full lg:min-w-400px">
          </div>
          <div class="relative">
            <p class="font-helvetica font-bold  lg:ml:3">Comunidad</p>
            <input type="text" placeholder={{property.community_name}}
              class="bg-gray-200 font-bold shadow-xl h-9 border rounded-lg pr-10 pl-10 w-full lg:min-w-400px">
          </div>
          <div class="relative">
            <p class="font-helvetica font-bold  lg:ml:3">Departamento</p>
            <input type="text" placeholder={{property.department}}
              class="bg-gray-200 font-bold shadow-xl h-9 border rounded-lg pr-10 pl-10 w-full lg:min-w-400px">
          </div>
          <div class="relative">
            <p class="font-helvetica  font-bold lg:ml:3">Torre</p>
            <input type="text" placeholder={{property.tower}}
              class="bg-gray-200  font-bold shadow-xl h-9 border rounded-lg pr-10 pl-10 w-full lg:min-w-400px">
          </div>
        </div>
        <div class="grid lg:grid-cols-2 grid-flow-col gap-4 justify-center mt-7">
          <button class="rounded-full border bg-white border-blue-500 p-1 lg:w-3 w-4 h-12">VOLVER</button>
          <button class="rounded-full border bg-blue-500 border-blue-500 p-1 lg:w-3 w-4 h-12 text-white">EDITAR
            DATOS</button>
        </div>
      </p-tabPanel>
      <p-tabPanel header="Detalle Cuentas">
        <div class="grid lg:grid-rows-3 ms:flex-col justify-center grid-flow-col mt-4 mb-4">
          <div *ngFor="let cuenta of detailCuentas"
            class="container  bg-white border border-gray-300 rounded-lg mb-4 g-1 lg:w-3 mr-3 lg:min-h-lg-500 sm:w-full px-5">

            <div class="grid lg-grid-col mt-2 px-0">
              <img class="w-2 h-6 mt-3 ml-3" [src]="cuenta.icono" alt="Icono de llamada">
              <div class="mr-auto">
                <p class="text-xl">{{ cuenta.nombre }}</p>
                <p class="font-bold">{{ cuenta.cuenta }}</p>
              </div>
            </div>

            <div class="grid lg-grid-col mt-2">
              <p class="text-lg w-5 ml-5 font-bold">Deuda Actual</p>
              <p class="w-3 ml-auto">{{ cuenta.deuda_actual }}</p>
            </div>

            <div class="grid lg-grid-col mt-2">
              <p class="text-lg w-5 ml-5 font-bold">Deuda Anterior</p>
              <p class="w-3 ml-auto lg:mt-1 mt-4">{{ cuenta.deuda_anterior }}</p>
            </div>

            <div class="grid lg-grid-col mt-2">
              <p class="text-lg w-5 ml-5 font-bold">Fecha vencimiento</p>
              <p class="lg:w-3 lg:ml-auto ml-6 lg:mt-1 mt-4">{{ cuenta.fecha_vencimiento }}</p>
            </div>

            <div class="grid lg-grid-col mt-2 mb-3">
              <p class="text-lg w-5 ml-5 font-bold">Último pago</p>
              <p class="w-3 ml-auto">{{ cuenta.ultimo_pago }}</p>
            </div>

          </div>
        </div>
        <div class="grid lg-grid-rows-2 grid-flow-col gap-4 justify-center mt-7">
          <button class="shadow-xl rounded-full border bg-white border-blue-500 p-1 lg:w-3 w-5 h-12" (click)="volver()" (click)="volver()">VOLVER</button>
          <button class="shadow-xl rounded-full border bg-blue-500 border-blue-500 p-1 lg:w-3 w-5 h-12 text-white">EDITAR
            DATOS</button>
        </div>
      </p-tabPanel>
    </p-tabView>
  </div>
</div>
