<!--Botón volver a perfil-->
<!-- <p-button
  label="< Volver al listado de propiedades"
  styleClass="p-button-text p-button-secondary text-sm"
  routerLink="/casas/list"
></p-button> -->

<!-- Banner DEMO -->
<p-messages severity="warn">
  <ng-template pTemplate>
    <i class="fa-solid fa-triangle-exclamation text-yellow-500"></i>
    <div class="ml-2">Aplicación DEMO</div>
  </ng-template>
</p-messages>

<!--Perfil propiedad-->
<div class="card border-round shadow-3 justify-content-center m-3">
  <div class="flex m-1 mr-3">
    <div class="flex align-items-center justify-content-center">
      <i
        class="fa-solid fa-building text-blue-700 m-3"
        style="font-size: 120px"
      ></i>
      <div class="block align-items-center justify-content-center">
        <span class="flex align-items-center m-2 text-800 text-xl mt-4"
          ><i class="fa-regular fa-building text-yellow-500 ml-2 mr-2"></i>
          Comunidad Amanecer</span
        >
        <span class="flex align-items-center m-2 text-800 text-xl"
          ><i
            class="fa-solid fa-map-location-dot text-yellow-500 ml-2 mr-2"
          ></i>
          Dirección:
          <span class="flex align-items-center m-2 mr-6 text-800 text-xl">
            Merced 691 - DPTO 1011 - Santiago centro
          </span>
        </span>
      </div>
    </div>
  </div>
</div>

<div class="card m-2">
  <div class="flex flex-wrap card-container blue-container">
    <div
      class="flex align-items-center justify-content-center font-bold m-2 border-round"
    >
      <div class="block shadow-3 m-2 border-round">
        <!--Vacía para espacio-->
        <div class="card mt-4">
          <div class="flex justify-content-between flex-wrap card-container">
            <div
              class="flex align-items-center justify-content-center text-700 font-bold text-xl"
            ></div>
            <div class="flex align-items-center justify-content-center"></div>
            <div class="flex align-items-center justify-content-center">
              <span class="text-700 font-bold text-xl ml-3"> </span>
            </div>
          </div>
        </div>

        <!--inicio cuentas-->
        <div class="flex justify-content-center align-items-center m-2">
          <span class="flex text-xl font-bold">
            <i class="fa-solid fa-receipt text-yellow-500 mr-2"></i>
            Cuentas:</span
          >
        </div>
        <!-- Luz -->
        <div class="card mt-3">
          <div class="flex justify-content-between flex-wrap card-container">
            <div
              class="flex align-items-center justify-content-center text-700 font-bold text-xl m-2"
            >
              <i
                class="fa-solid fa-bolt text-yellow-500 justify-content-center m-2"
              ></i>
              Luz :
            </div>
            <div class="flex align-items-center justify-content-center"></div>
            <div
              class="flex align-items-center justify-content-center font-bold text-700 m-2"
            >
              <span class="text-700 font-bold text-xl ml-3"> 2634688-6 </span>
            </div>
          </div>
        </div>

        <!-- Agua -->
        <div class="card mt-4">
          <div class="flex justify-content-between flex-wrap card-container">
            <div
              class="flex align-items-center justify-content-center text-700 font-bold text-xl m-2"
            >
              <i
                class="fa-solid fa-droplet text-yellow-500 justify-content-center m-2"
              ></i>
              Agua:
            </div>
            <div class="flex align-items-center justify-content-center"></div>
            <div class="flex align-items-center justify-content-center m-2">
              <span class="text-700 font-bold text-xl ml-3"> 1685292 </span>
            </div>
          </div>
        </div>

        <!-- Gas -->
        <div class="card mt-4">
          <div class="flex justify-content-between flex-wrap card-container">
            <div
              class="flex align-items-center justify-content-center text-700 font-bold text-xl m-2"
            >
              <i
                class="fa-brands fa-gripfire fa-lg text-yellow-500 justify-content-center m-2"
              ></i>
              Gas:
            </div>
            <div class="flex align-items-center justify-content-center"></div>
            <div class="flex align-items-center justify-content-center m-2">
              <span class="text-700 font-bold text-xl ml-3"> 900507703 </span>
            </div>
          </div>
        </div>

        <!-- Gasto Común -->
        <div class="card mt-4">
          <div class="flex justify-content-between flex-wrap card-container">
            <div
              class="flex align-items-center justify-content-center text-700 font-bold text-xl m-1"
            >
              <i
                class="fa-solid fa-building-user text-yellow-500 justify-content-center m-2"
              ></i>
              Gasto Común:
            </div>
            <div class="flex align-items-center justify-content-center"></div>
            <div class="flex align-items-center justify-content-center m-2">
              <span class="text-700 font-bold text-xl ml-3"> Com. Feliz </span>
            </div>
          </div>
        </div>

        <!-- Aseo -->
        <div class="card mt-4">
          <div class="flex justify-content-between flex-wrap card-container">
            <div
              class="flex align-items-center justify-content-center text-700 font-bold text-xl m-1"
            >
              <i
                class="fa-solid fa-recycle text-yellow-500 justify-content-center m-2"
              ></i>
              Derecho Aseo:
            </div>
            <div class="flex align-items-center justify-content-center"></div>
            <div class="flex align-items-center justify-content-center m-2">
              <span class="text-700 font-bold text-xl ml-3"> 146-146 </span>
            </div>
          </div>
        </div>

        <!-- Contri -->
        <div class="card mt-4">
          <div class="flex justify-content-between flex-wrap card-container">
            <div
              class="flex align-items-center justify-content-center text-700 font-bold text-xl m-1"
            >
              <i
                class="fa-solid fa-house-circle-exclamation text-yellow-500 justify-content-center m-2"
              ></i>
              Contribuciones:
            </div>
            <div class="flex align-items-center justify-content-center"></div>
            <div class="flex align-items-center justify-content-center m-2">
              <span class="text-700 font-bold text-xl ml-3">
                Rol no existe
              </span>
            </div>
          </div>
        </div>
        <!--Vacía para espacio-->
        <div class="card mt-4">
          <div class="flex justify-content-between flex-wrap card-container">
            <div
              class="flex align-items-center justify-content-center text-700 font-bold text-xl m-1"
            ></div>
            <div class="flex align-items-center justify-content-center"></div>
            <div class="flex align-items-center justify-content-center m-2">
              <span class="text-700 font-bold text-xl ml-3"> </span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Detalles cuentas  -->

    <div
      class="flex-auto align-items-center justify-content-around shadow-2 m-3 border-round"
    >
      <div class="flex-wrap flex-auto justify-content-around">
        <div class="flex justify-content-between border-round">
          <div
            class="flex-1 align-items-center justify-content-center font-bold m-3 ml-6"
          >
            Cuentas
          </div>

          <div
            class="flex align-items-center justify-content-center font-bold m-2 mr-8"
          >
            Detalle propiedad
          </div>
          <div
            class="flex align-items-center justify-content-center font-bold mr-8"
          ></div>
          <div
            class="flex align-items-center justify-content-center font-bold"
          ></div>
          <div
            class="flex align-items-center justify-content-center font-bold"
          ></div>
        </div>

        <!--Luz-->
        <div class="flex justify-content-around border-round bg-gray-100">
          <div
            class="flex align-items-center justify-content-center font-bold m-2"
          >
            Luz
          </div>

          <div
            class="flex flex-column align-items-center justify-content-center font-bold text-700 m-2 mt-3"
          >
            Deuda actual
            <div
              class="flex align-items-center justify-content-center text-900 m-2"
            >
              $ 0 .-
            </div>
          </div>
          <div
            class="flex flex-column align-items-center justify-content-center font-bold text-700 m-2 mt-3"
          >
            Deuda anterior
            <div
              class="flex align-items-center justify-content-center text-900 m-2"
            >
              $ 0 .-
            </div>
          </div>
          <div
            class="flex flex-column align-items-center justify-content-center font-bold text-700 m-2 mt-3"
          >
            Fecha vencimiento
            <div
              class="flex align-items-center justify-content-center text-900 m-2"
            >
              N/A
            </div>
          </div>
          <div
            class="flex flex-column align-items-center justify-content-center font-bold text-700 m-2 mt-3"
          >
            Último pago
            <div
              class="flex align-items-center justify-content-center text-900 m-2"
            >
              $ 17.895 .-
            </div>
          </div>
        </div>

        <!--Agua-->
        <div class="flex justify-content-around border-round">
          <div
            class="flex align-items-center justify-content-center font-bold m-2"
          >
            Agua
          </div>

          <div
            class="flex flex-column align-items-center justify-content-center font-bold text-700 m-2 mt-3"
          >
            Deuda actual
            <div
              class="flex align-items-center justify-content-center text-red-500 m-2"
            >
              $ 20.030 .-
            </div>
          </div>
          <div
            class="flex flex-column align-items-center justify-content-center font-bold text-700 m-2 mt-3"
          >
            Deuda anterior
            <div
              class="flex align-items-center justify-content-center text-900 m-2"
            >
              $ 0 .-
            </div>
          </div>
          <div
            class="flex flex-column align-items-center justify-content-center font-bold text-700 m-2 mt-3"
          >
            Fecha último pago
            <div
              class="flex align-items-center justify-content-center text-900 m-2"
            >
              29/06/2023
            </div>
          </div>
          <div
            class="flex flex-column align-items-center justify-content-center font-bold text-700 m-2 mt-3"
          >
            Último pago
            <div
              class="flex align-items-center justify-content-center text-900 m-2"
            >
              $ 19.990 .-
            </div>
          </div>
        </div>

        <!--Gas-->
        <div class="flex justify-content-around border-round bg-gray-100">
          <div
            class="flex align-items-center justify-content-center font-bold m-2"
          >
            Gas
          </div>

          <div
            class="flex flex-column align-items-center justify-content-center font-bold text-700 m-2 mt-3"
          >
            Deuda actual
            <div class="flex align-items-center justify-content-center m-2">
              $ 0 .-
            </div>
          </div>
          <div
            class="flex flex-column align-items-center justify-content-center font-bold text-700 m-2 mt-3"
          >
            Saldo Anterior
            <div
              class="flex align-items-center justify-content-center text-900 m-2"
            >
              $ 0 .-
            </div>
          </div>
          <div
            class="flex flex-column align-items-center justify-content-center font-bold text-700 m-2 mt-3"
          >
            Fecha vencimiento
            <div
              class="flex align-items-center justify-content-center text-900 m-2"
            >
              Al día
            </div>
          </div>
          <div
            class="flex flex-column align-items-center justify-content-center font-bold text-700 m-2 mr-6"
          >
            <div
              class="flex align-items-center justify-content-center text-900 m-2 mr-6"
            ></div>
          </div>
        </div>

        <!--GGCC-->
        <div class="flex justify-content-between border-round">
          <div
            class="flex align-items-center justify-content-center font-bold m-2 ml-6"
          >
            Gasto Común
          </div>

          <div
            class="flex-1 flex-column align-items-center justify-content-center font-bold text-700 m-2 ml-4 mt-3"
          >
            Deuda actual
            <div
              class="flex-1 align-items-center justify-content-center m-2 ml-5"
            >
              $ 0 .-
            </div>
          </div>
          <div
            class="flex flex-column align-items-center justify-content-center font-bold text-700 m-2 mr-8"
          >
            <div
              class="flex align-items-center justify-content-center text-red-500 m-2"
            ></div>
          </div>
          <div
            class="flex flex-column align-items-center justify-content-center font-bold text-700 m-2 mr-8"
          >
            <div
              class="flex align-items-center justify-content-center text-red-500 m-2 mr-8"
            ></div>
          </div>
        </div>

        <!--Aseo-->
        <div class="flex justify-content-between border-round bg-gray-100">
          <div
            class="flex align-items-center justify-content-center font-bold m-2 ml-6"
          >
            Derecho aseo
          </div>

          <div
            class="flex-1 flex-column align-items-center justify-content-center font-bold text-700 m-2 ml-4 mt-3"
          >
            Deuda actual
            <div
              class="flex-1 align-items-center justify-content-center text-red-500 m-2 ml-2"
            >
              $ 330.910 .-
            </div>
          </div>
          <div
            class="flex flex-column align-items-center justify-content-center font-bold text-700 m-2 mr-8"
          >
            <div
              class="flex align-items-center justify-content-center text-red-500 m-2"
            ></div>
          </div>
          <div
            class="flex flex-column align-items-center justify-content-center font-bold text-700 m-2 mr-8"
          >
            <div
              class="flex align-items-center justify-content-center text-red-500 m-2 mr-8"
            ></div>
          </div>
        </div>

        <!--Contri-->
        <div class="flex justify-content-between border-round">
          <div
            class="flex align-items-center justify-content-center font-bold m-2 ml-6"
          >
            Contribuciones
          </div>

          <div
            class="flex-1 flex-column align-items-center justify-content-center font-bold text-700 m-2 ml-3 mt-3"
          >
            Deuda actual
            <div
              class="flex-1 align-items-center justify-content-center text-red-500 m-2 ml-5"
            >
              N/A
            </div>
          </div>
          <div
            class="flex flex-column align-items-center justify-content-center font-bold text-700 m-2 mr-8"
          >
            <div
              class="flex align-items-center justify-content-center text-red-500 m-2"
            ></div>
          </div>
          <div
            class="flex flex-column align-items-center justify-content-center font-bold text-700 m-2 mr-8"
          >
            <div
              class="flex align-items-center justify-content-center text-red-500 m-2 mr-8"
            ></div>
          </div>
        </div>

        <div
          class="flex justify-content-center font-bold bg-blue-800 text-center border-round"
        >
          <div class="flex text-yellow-400 font-bold m-1">
            Total deuda :
            <div class="flex-1 text-red-400 font-bold border-round ml-3">
              $ 350.940 .-
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--BBDD 2-->

  <div class="card m-3 border-round shadow-3">
    <p-table
      [value]="propiedades2"
      sortField="ultExtraccion"
      sortMode="single"
      dataKey="ultExtraccion"
      rowGroupMode="subheader"
      groupRowsBy="ultExtraccion"
      [tableStyle]="{ 'min-width': '10rem' }"
    >
      <ng-template pTemplate="caption">
        <span class="font-bold">Historial</span>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 20%">Luz</th>
          <th style="width: 20%">Agua</th>
          <th style="width: 20%">Gas</th>
          <th style="width: 20%">Gasto Común</th>
          <th style="width: 20%">Derecho Aseo</th>
          <th style="width: 20%">Contribuciones</th>
        </tr>
      </ng-template>
      <ng-template
        pTemplate="groupheader"
        let-propiedades2
        let-rowIndex="rowIndex"
        let-expanded="expanded"
      >
        <tr>
          <td colspan="6">
            <button
              type="button"
              pButton
              pRipple
              [pRowToggler]="propiedades2"
              class="p-button-text p-button-rounded p-button-sm p-button-plain mr-2"
              [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"
            ></button>
            <i class="fa-solid fa-clock-rotate-left fa-2xl mr-5"></i>
            <span class="font-bold text-xl"> Fecha última extracción: </span>
            <span class="ml-2 text-xl"> {{ propiedades2.ultExtraccion }}</span>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="groupfooter" let-propiedades2>
        <tr class="p-rowgroup-footer">
          <td class="font-bold" colspan="5" style="text-align: right">
            Total deuda
          </td>
          <td class="font-bold">$ {{ propiedades2.deuda | replaceComma }}</td>
        </tr>
      </ng-template>
      <ng-template pTemplate="rowexpansion" let-propiedades2>
        <tr>
          <td>$ {{ propiedades2.luz | replaceComma }}</td>
          <td>
            <span class="ml-1 vertical-align-middle">
              $ {{ propiedades2.agua | replaceComma }}
            </span>
          </td>
          <td>$ {{ propiedades2.gas | replaceComma }}</td>

          <td>$ {{ propiedades2.gastoCom | replaceComma }}</td>
          <td>$ {{ propiedades2.aseo | replaceComma }}</td>
          <td>$ {{ propiedades2.contri | replaceComma }}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
