<!-- home sidebar  -->
<home-sidebar></home-sidebar>


<div class="flex items-center p-2 justify-center">
  <div class="max-w-4xl">
    <h1 class="font-bold text-2xl py-4">Quienes Somos</h1>
    <div class="text-base">

      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis facilisis ultrices lectus, at tincidunt turpis convallis vel. Ut vestibulum mattis egestas. Maecenas ac tempus nisi. Ut augue metus, euismod sed faucibus quis, finibus sed felis. Donec vehicula felis in quam viverra, sed vestibulum mi pretium. Fusce eu iaculis odio, ut commodo quam. Donec a rutrum ex. Etiam dapibus odio at vulputate ornare. Maecenas aliquet turpis ut justo aliquet scelerisque. Praesent laoreet urna vel commodo dictum. Suspendisse sit amet odio eu massa tincidunt dictum a at metus.
      
      Nunc at lobortis diam. In sodales sem id ante lobortis accumsan. Donec tortor turpis, feugiat eu lacus at, aliquam fermentum orci. Ut nec laoreet enim, at suscipit nisl. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Mauris varius viverra erat, nec sollicitudin tellus cursus id. Duis vestibulum nisi erat, in mattis ligula porttitor ut. Sed vulputate pretium dui, id iaculis justo venenatis eget. Mauris a sapien suscipit, scelerisque felis a, pretium sem.
      
      Morbi sed ante at metus gravida ornare. Integer at accumsan lorem. Nullam orci velit, blandit et augue sed, ultricies dapibus enim. Fusce in rhoncus purus. Aenean ornare nisi eros, vitae fringilla est ultrices rhoncus. Donec condimentum, massa cursus pulvinar pretium, diam nunc egestas metus, at accumsan nisi mauris vitae quam. Sed suscipit lacus a tortor aliquam vehicula. Sed gravida felis ut risus posuere, vitae congue magna egestas. Integer et finibus ex. Phasellus at malesuada urna, ac suscipit eros. Vestibulum est lectus, euismod sit amet maximus vel, egestas nec libero. Nullam sagittis elementum massa sed vehicula. Pellentesque at semper elit, sit amet ultricies urna. Ut viverra mollis varius. </div>
  </div>
</div>
