<div
  style="background: #223d76"
  class="flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden"
>
  <div class="flex flex-column align-items-center justify-content-center">
    <!--  logo      -->
    <img
      src="/assets/img/Logo PropCheck final_blanco.jpeg"
      height="150"
      width="150"
      alt="Logo Propcheck"
      class="mb-3 w-10rem flex-shrink-0"
    />

    <!--  Degradé      -->

    <!--  formato intup     -->
    <form
    [formGroup]="personaForm"
    (ngSubmit)="sendEmail()"
    class="w-32rem surface-card py-8 sm:px-5 p-4"
    style="border-radius: 53px"
    autocomplete="off"
    >
    <div class="text-center">
      <label class="block text-blue-600 font-medium text-lg">
        <h2>Indique su email</h2></label>
    </div>

    <div class="flex-row p-2">
      <span class="p-float-label text-center mb-5">
        <input
          pInputText
          formControlName="email"
          type="text"
          class="w-full md:w-23rem p-3"
        />
        <label class="font-bold" htmlFor="usuario">Email</label>
      </span>

      <button
        pButton
        pRipple
        type="submit"
        [disabled]="false"
        label="Enviar"

        class="w-full p-3 text-xl p-button-warning"
      ></button>
      <!--routerLink="/casas/list"
      -->
    </div>
  </form>


  </div>
</div>

<!-- recover-page.component.html -->
<router-outlet></router-outlet>
