<!-- Flex -->

<app-sidebar></app-sidebar>
<!-- Contenedor Sidebar (Degradé) -->

<div class="relative">
  <div class="block">
    <p-messages severity="warn">
      <ng-template pTemplate>
        <i class="fa-solid fa-triangle-exclamation text-yellow-500"></i>
        <div class="ml-1">Aplicación DEMO</div>
      </ng-template>
    </p-messages>
  </div>

  <!--Perfil propiedad-->

  <div
    class="card overflow-hidden border-round shadow-3 justify-content-center m-3"
  >
    <div class="flex m-1 mr-3">
      <div class="flex align-items-center justify-content-center">
        <i
          class="fa-solid fa-building text-blue-700 m-3"
          style="font-size: 120px"
        ></i>
        <div class="block align-items-center justify-content-center">
          <span class="flex align-items-center m-2 text-800 text-xl mt-4"
            ><i class="fa-regular fa-building text-yellow-500 ml-2 mr-2"></i>
            Comunidad
            <input
              class="m-2"
              size="35"
              id="disabled-input"
              type="text"
              pInputText
              [(ngModel)]="property!.community_name"
            />
          </span>
          <span class="flex align-items-center m-2 text-800 text-xl">
            <i
              class="fa-solid fa-map-location-dot text-yellow-500 ml-2 mr-2"
            ></i>
            Dirección
            <span class="flex align-items-center m-2 mr-6 text-800 text-xl">
              <input
                class="m-1 ml-3"
                size="28"
                type="text"
                pInputText
                [(ngModel)]="property!.address"
              />
            </span>
          </span>
          <div class="flex">
            <div
              class="flex-auto flex align-items-center justify-content-center m-2 text-xl border-round"
            >
              <i
                class="fa-solid fa-door-closed text-yellow-500 justify-content-center m-2"
              ></i>
              Departamento :
            </div>

            <div
              class="flex-auto align-items-center justify-content-center text-700 m-2"
            >
              <input
                class="m-2"
                id="disabled-input"
                size="6"
                type="text"
                pInputText
                [(ngModel)]="property!.department"
              />
            </div>
            <div
              class="flex-auto flex align-items-center justify-content-center m-2 text-xl border-round"
            >
              <i
                class="fa-solid fa-building text-yellow-500 justify-content-center m-2"
              ></i>
              Torre :
            </div>

            <div
              class="flex-auto align-items-center justify-content-center text-700 m-2"
            >
              <input
                class="m-2"
                size="3"
                id="disabled-input"
                type="text"
                pInputText
                [(ngModel)]="property!.tower"
              />
            </div>
            <div
              class="flex-auto flex align-items-center justify-content-center m-2 text-xl border-round"
            >
              <i
                class="fa-solid fa-building text-yellow-500 justify-content-center m-2"
              ></i>
              Comuna :
            </div>

            <div
              class="flex-auto align-items-center justify-content-center text-700 m-2"
            >
              <input
                class="m-2"
                size="20"
                id="disabled-input"
                type="text"
                pInputText
                [(ngModel)]="property!.municipality"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Cuentas -->
  <div class="overflow-hidden m-3 shadow-3 border-round">
    <div class="flex">
      <div
        class="flex-auto flex align-items-center justify-content-center font-bold m-2 px-5 py-3 border-round"
      >
        <span class="flex text-xl font-bold">
          <i class="fa-solid fa-receipt text-yellow-500 mr-2"></i>
          Cuentas:</span
        >
      </div>
    </div>
    <!-- luz -->
    <div class="flex">
      <div
        class="flex-auto flex align-items-center justify-content-center font-bold m-2 border-round"
      >
        <i
          class="fa-solid fa-bolt text-yellow-500 justify-content-center m-2"
        ></i>
        Luz :
      </div>
      <div
        class="flex-2 flex align-items-center justify-content-center font-bold text-700 m-2"
      >
        <input
          class="m-2"
          id="disabled-input"
          type="text"
          size="12"
          pInputText
          [(ngModel)]="property_s![0].service_client_id"
        />
      </div>
      <div class="flex-2 flex align-items-center justify-content-center m-2">
        <p-dropdown
          [options]="providerLuz"
          placeholder="Proveedor"
          optionLabel="name"
          [(ngModel)]="luz"
        ></p-dropdown>
      </div>

      <div
        class="flex-auto flex align-items-center justify-content-center font-bold m-2 border-round"
      >
        <p-checkbox
          formControlName="no-service"
          value="0"
          inputId="ns"
        ></p-checkbox>
        <label for="ny"> Sin Servicio </label>
      </div>
    </div>
    <!-- Agua -->
    <div class="flex">
      <div
        class="flex-auto flex align-items-center justify-content-center font-bold m-2 border-round"
      >
        <i
          class="fa-solid fa-droplet text-yellow-500 justify-content-center m-2"
        ></i>
        Agua :
      </div>
      <div
        class="flex-2 flex align-items-center justify-content-center font-bold text-700 m-2"
      >
        <input
          class="m-2"
          id="disabled-input"
          type="text"
          size="10"
          pInputText
          [(ngModel)]="property_s![1].service_client_id"
        />
      </div>
      <div class="flex-2 flex align-items-center justify-content-center m-2">
        <p-dropdown
          [options]="providerAgua"
          placeholder="Proveedor"
          optionLabel="name"
          [(ngModel)]="agua"
        ></p-dropdown>
      </div>

      <div
        class="flex-auto flex align-items-center justify-content-center font-bold m-2 border-round"
      >
        <p-checkbox
          formControlName="no-service"
          value="0"
          inputId="ns"
        ></p-checkbox>
        <label for="ny"> Sin Servicio </label>
      </div>
    </div>
    <!-- gas -->
    <div class="flex">
      <div
        class="flex-auto flex align-items-center justify-content-center font-bold m-2 border-round"
      >
        <i
          class="fa-solid fa-gripfire text-yellow-500 justify-content-center m-2"
        ></i>
        Gas :
      </div>
      <div
        class="flex-2 flex align-items-center justify-content-center font-bold text-700 m-2"
      >
        <input
          class="m-2"
          id="disabled-input"
          type="text"
          size="10"
          pInputText
          [(ngModel)]="property_s![2].service_client_id"
        />
      </div>
      <div class="flex-2 flex align-items-center justify-content-center m-2">
        <p-dropdown
          [options]="providerGas"
          placeholder="Proveedor"
          optionLabel="name"
          [(ngModel)]="gas"
        ></p-dropdown>
      </div>

      <div
        class="flex-auto flex align-items-center justify-content-center font-bold m-2 border-round"
      >
        <p-checkbox
          formControlName="no-service"
          value="0"
          inputId="ns"
        ></p-checkbox>
        <label for="ny"> Sin Servicio </label>
      </div>
    </div>
    <!-- Gasto común -->

    <div class="flex">
      <div
        class="flex-auto flex align-items-center justify-content-center font-bold m-2 border-round"
      >
        <i
          class="fa-solid fa-building-user text-yellow-500 justify-content-center m-2"
        ></i>
        Gasto común :
      </div>
      <div
        class="flex-2 flex align-items-center justify-content-center font-bold text-700 m-2"
      >
        <input
          class="m-2"
          id="disabled-input"
          type="text"
          size="25"
          pInputText
          [(ngModel)]="property_s![3].service_client_id"
        />
      </div>
      <div class="flex-2 flex align-items-center justify-content-center m-2">
        <p-dropdown
          [options]="providerGc"
          placeholder="Proveedor"
          optionLabel="name"
          [(ngModel)]="gc"
        ></p-dropdown>
      </div>

      <div
        class="flex-auto flex align-items-center justify-content-center font-bold m-2 border-round"
      >
        <p-checkbox
          formControlName="no-service"
          value="0"
          inputId="ns"
        ></p-checkbox>
        <label for="ny"> Sin Servicio </label>
      </div>
    </div>
    <!-- Contribuciones y Aseo -->
    <div class="flex">
      <div
        class="flex-auto flex align-items-center justify-content-center font-bold m-2 border-round"
      >
        <i
          class="fa-solid fa-house-circle-exclamation text-yellow-500 justify-content-center m-2"
        ></i>
        Contribuciones :
      </div>

      <div
        class="flex-auto align-items-center justify-content-center font-bold text-700 m-2"
      >
        <input
          class="m-2"
          id="disabled-input"
          type="text"
          pInputText
          [(ngModel)]="property_s![5].service_client_id"
        />
      </div>
      <div
        class="flex-auto flex align-items-center justify-content-center font-bold m-2 border-round"
      >
        <i
          class="fa-solid fa-recycle text-yellow-500 justify-content-center m-2"
        ></i>
        Aseo :
      </div>

      <div
        class="flex-auto align-items-center justify-content-center font-bold text-700 m-2"
      >
        <input
          class="m-2"
          size="10"
          id="disabled-input"
          type="text"
          pInputText
          [(ngModel)]="property_s![4].service_client_id"
        />
      </div>
    </div>
    <div class="flex flex-row-reverse flex m-3">
      <p-button
        label="Guardar datos"
        styleClass="p-button-raised p-button-warning"
      ></p-button>
    </div>
  </div>
</div>
