@media (min-width: 771px) {
  body {
    font-size: 14px;
  }

  .text-center h2 {
    font-size: 25px;
    font-weight: bold;
    padding-top: 39px;
  }

  .email {
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0px 1px 4px 1px #00000040;
    left: 0;
    top: 0;
    flex-shrink: 0;
    position: relative;
    box-sizing: border-box;
    width: 320px;
    height: 40px;
    margin: auto;
  }

  .password  {
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0px 1px 4px 1px #00000040;
    left: 0;
    top: 0;
    flex-shrink: 0;
    position: relative;
    box-sizing: border-box;
    width: 320px;
    height: 40px;
    margin: auto;
  }

  .boton-ingresar {
    background-color: #2455be;
    color:#FFFFFF;
    width: 320px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    font-weight: 400;
    font-family: "Helvetica-Regular", Helvetica;
    font-style: normal;
    font-size: 16px;
    line-height: normal;
    position: relative;
    border-radius: 15px;
  }

  .left-container {
    position: relative;
    box-sizing: border-box;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 60%;
  }

  .right-container {
      position: relative;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      margin-left: 0 auto;
    }


  .logo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
    
  img.pequeña {
    width: 189px;
    height: 200px;
  }

  .form-container { 
    position: absolute;
    justify-content: center;
    align-items: center;
    height: 380px;
    width: 400px;
    border-radius: 20px;
    top: 33.3%;
    margin-left: 25%;
  }

  .form-container { 
    display: flex;
    align-items: center;
    margin-right: 33%;
    background: #FFFFFF;
  }

  .background-image {
    width: 100%;
    height: 100%;
    position: absolute;
    
  }

  .bg-img {
    position: relative;
    flex-wrap: nowrap;
  }

  .container-principal {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    width: 100%;
    
  }
}

.btnRecuperar {
  border: 1px solid rgb(26, 115, 232);
  border-radius: 4px;
  color: rgb(5, 110, 247);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.25px;
  outline: 0;
  padding: 12px 2px;
  text-align: left;
  background-color: white;
  outline: none;
}

.btnRecuperar button {
  background: none;
  border: none;
  color: inherit;
  cursor: inherit;
  font: inherit;
  outline: inherit;
  padding: inherit;
  border: 1px solid transparent !important;
  outline: none !important;
}

.btnRecuperar, .btnRecuperar button {
  border: 1px solid transparent;
  outline: none;
  box-shadow: 0 0 0 0 !important;
}

/* Ajustes para dispositivos móviles */
@media (max-width: 770px) {
  .logo, .left-container {
    display: flex;
    flex-direction: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin-top: 30px;
  
  }

  img.pequeña {
    display: flex;
    width: 101px;
    height: 107px;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
  }

  .container-principal {
    width: 100%;
    height: 100%;
    margin-bottom: 0;
    padding-top: 39px;
}

  .email  {
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0px 1px 4px 1px #00000040;
    left: 0;
    top: 0;
    flex-shrink: 0;
    position: relative;
    box-sizing: border-box;
    width: 326px;
    height: 45px;
    margin: auto;
  }

  .password  {
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0px 1px 4px 1px #00000040;
    left: 0;
    top: 0;
    flex-shrink: 0;
    position: relative;
    box-sizing: border-box;
    width: 326px;
    height: 45px;
    margin: auto;
  }

  .text-center h2 {
      font-size: 22px;
      font-weight: bold;
      padding-top: 39px;

  }

  .boton-ingresar {
      background-color: #2455be;
      color:#FFFFFF;
      width: 326px;
      height: 45px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: auto;
      font-weight: 400;
      font-family: "Helvetica-Regular", Helvetica;
      font-style: normal;
      font-size: 16px;
      line-height: normal;
      position: relative;
      border-radius: 15px;
  }

  .form-container {
      border-radius: 20px 20px 0 0;
      width: 100%;
      height: 100vh;
      margin-top: 100px;
      padding: 0;
      margin-bottom: 0 auto;

  }

  .background-image {
    display: none;
  }
  
  .container-form {
    border-radius: 20px;
  }




}
    

    


  
