::ng-deep .p-sidebar {
  background-color: #102E6E !important;
}
::ng-deep .p-menubar {
  background-color: #223d76 !important;
}

::ng-deep .p-button {
  padding: 1rem !important; /* Sobrescribe el padding con !important */
 }
:host .p-button .p-ink {
   display: none !important;
}
