<!-- Sidebar -->
<div
  class="bg-blue-primary-propcheck w-100 h-14 static align-items-center flex"
>
  <p-button
    styleClass="flex ml-4 text-white text-sm p-button-text"
    (click)="sidebarVisible = true"
    icon="pi pi-bars text-3xl"
  ></p-button>

  <!--SideBar-->
  <div class="grow align-items-center">
    <p-image
      src="/assets/img/Logo PropCheck final_blanco.jpeg"
      alt="Propcheck Image"
      height="40"
      width="40"
      class="m-1 ml-3 translate-x-3 animate__animated animate__fadeInLeft"
    ></p-image>
  </div>

  <p-sidebar [(visible)]="sidebarVisible">
    <!-- Logo internos Sidebar -->
    <div class="card flex justify-content-center mb-4">
      <p-image
        src="/assets/img/Logo PropCheck final_blanco.jpeg"
        alt="Propcheck"
        height="130"
        width="130"
      ></p-image>
    </div>
    <!-- Contenido interno Sidebar -->
    <ng-template pTemplate="body">
      <div class="flex-row">
        <div class="flex ml-5 mb-3 text-900 justify-content-start">
          <img src="../../../assets/img/home-interno.svg" alt="" />
          <p-button
            label="Home"
            styleClass=" text-white text-lg p-button-text "
            routerLink="/propiedades/list"
            (click)="sidebarVisible = false"
          ></p-button>
        </div>
        <div class="flex ml-5 mb-3 text-900 justify-content-start">
          <img src="../../../assets/img/propiedades.svg" alt="" />
          <p-button
            label="Propiedades"
            styleClass=" text-white text-lg p-button-text "
            routerLink="/propiedades/properties"
            (click)="sidebarVisible = false"
          ></p-button>
        </div>

        <div class="flex ml-5 mb-3 text-900 justify-content-start">
          <img src="../../../assets/img/informes.svg" alt="" />
          <p-button
            label="Tus informes"
            styleClass=" text-white text-lg p-button-text "
            routerLink="/propiedades/reports"
            (click)="sidebarVisible = false"
          ></p-button>
        </div>

        <div class="flex ml-5 mb-3 text-900 justify-content-start">
          <img src="../../../assets/img/user.svg" alt="" />
          <p-button
            label="Perfil"
            styleClass=" text-white text-lg p-button-text "
            routerLink="/propiedades/property-user-profile"
            (click)="sidebarVisible = false"
          ></p-button>
        </div>

        <div class="flex ml-5 mb-3 text-900 justify-content-start">
          <img src="../../../assets/img/mesayuda.svg" alt="" />
          <p-button
            label="Mesa de ayuda"
            styleClass=" text-white text-lg p-button-text "
            routerLink="/propiedades/list"
            (click)="sidebarVisible = false"
          ></p-button>
        </div>

        <div class="flex">
          <div class="flex ml-5 mb-3 text-900 justify-content-start">
            <img src="../../../assets/img/cerrarSesion.svg" alt="" />
            <p-button
              label="Cerrar Sesión"
              styleClass=" text-white text-lg p-button-text "
              (click)="onLogout()"
            ></p-button>
          </div>
        </div>
      </div>
    </ng-template>
  </p-sidebar>
  <div class="flex justify-items-end">
    <label
      class="px-24 text-white text-sm whitespace-nowrap p-button-text font-['Helvetica'] leading-[normal]"
      >Bienvenido, Usuario</label
    >
  </div>
</div>
