<!-- Sidebar -->
<div class="bg-blue-primary-propcheck w-full">
  <div class="max-w-7xl mx-auto flex justify-center items-center px-2">
    <p-button
      styleClass="flex w-auto text-white text-sm p-button-text justify-start"
      (click)="sidebarVisible = true"
      icon="pi pi-bars text-3xl"
    ></p-button>

    <!--SideBar-->
    <div class="flex-1 align-items-center justify-items-start">
      <p-image
        src="/assets/img/Logo PropCheck final_blanco.jpeg"
        alt="Propcheck Image"
        height="35"
        width="35"
        class=""
      ></p-image>
    </div>
    <p-sidebar [(visible)]="sidebarVisible">
      <!-- Logo internos Sidebar -->
      <div class="card flex justify-content-center mb-4">
        <p-image
          src="/assets/img/Logo PropCheck final_blanco.jpeg"
          alt="Propcheck"
          height="130"
          width="130"
        ></p-image>
      </div>
      <!-- Contenido interno Sidebar -->
      <ng-template pTemplate="body">
        <div class="flex-row">
          <div class="flex ml-5 mb-3 text-900 justify-content-start">
            <img src="../../../assets/img/home-interno.svg" alt="" />
            <p-button
              label="Home"
              styleClass=" w-auto h-auto text-white text-lg p-button-text p-1rem"
              routerLink="/propiedades/list"
              (click)="sidebarVisible = false"
            ></p-button>
          </div>
          <div class="flex ml-5 mb-3 text-900 justify-content-start">
            <img src="../../../assets/img/propiedades.svg" alt="" />
            <p-button
              label="Propiedades"
              styleClass="w-auto h-auto text-white text-lg p-button-text p-1rem"
              routerLink="/propiedades/properties"
              (click)="sidebarVisible = false"
            ></p-button>
          </div>

          <div class="flex ml-5 mb-3 text-900 justify-content-start">
            <img src="../../../assets/img/informes.svg" alt="" />
            <p-button
              label="Tus informes"
              styleClass="w-auto h-auto text-white text-lg p-button-text p-1rem"
              routerLink="/propiedades/reports"
              (click)="sidebarVisible = false"
            ></p-button>
          </div>

          <div class="flex ml-5 mb-3 text-900 justify-content-start">
            <img src="../../../assets/img/user.svg" alt="" />
            <p-button
              label="Perfil"
              styleClass="w-auto h-auto text-white text-lg p-button-text p-1rem"
              routerLink="/propiedades/property-user-profile"
              (click)="sidebarVisible = false"
            ></p-button>
          </div>

          <div class="flex ml-5 mb-3 text-900 justify-content-start">
            <img src="../../../assets/img/mesayuda.svg" alt="" />
            <p-button
              label="Mesa de ayuda"
              styleClass="w-auto h-auto text-white text-lg p-button-text p-1rem"
              routerLink="/propiedades/list"
              (click)="sidebarVisible = false"
            ></p-button>
          </div>

          <div class="flex">
            <div class="flex ml-5 mb-3 text-900 justify-content-start">
              <img src="../../../assets/img/cerrarSesion.svg" alt="" />
              <p-button
                label="Cerrar Sesión"
                styleClass="w-auto h-auto text-white text-lg p-button-text p-1rem"
                (click)="onLogout()"
                routerLink="/"
              ></p-button>
            </div>
          </div>
        </div>
      </ng-template>
    </p-sidebar>
    <div class="flex justify-items-end flex-wrap">
      <label
        class="text-white text-sm whitespace-nowrap p-button-text font-['Helvetica'] leading-[normal]"
        >Bienvenido {{ agentData.name }} - {{ clientData.name }}</label
      >
    </div>
  </div>
</div>
