<h1 class="text-blue-600 animate__animated animate__fadeInUp text-center">
  Nuestros clientes
</h1>
<p-carousel
  [value]="images"
  [numVisible]="3"
  [circular]="true"
  [autoplayInterval]="2000"
>
  <ng-template let-image pTemplate="item">
    <div class="image-card m-2">
      <img
        class="flex m-auto border-round pt-3"
        [src]="image"
        [alt]="name"
        style="width: 230px; height: 160px"
      />
      <h2 class="text-center font-bold">{{ name[images.indexOf(image)] }}</h2>
    </div>
  </ng-template>
</p-carousel>
