<div
  style="background: #223d76"
  class="flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden"
>
  <div class="flex flex-column align-items-center justify-content-center">
    <!--  logo      -->
    <img
      src="/assets/img/Logo PropCheck final_blanco.jpeg"
      height="150"
      width="150"
      alt="Logo Propcheck"
      class="mb-3 w-10rem flex-shrink-0"
    />

    <!--  Degradé      -->

    <!--  formato intup     -->
    <form
    class="w-32rem surface-card py-8 sm:px-5 p-4"
    style="border-radius: 53px"
    autocomplete="off"
    (ngSubmit)="onSubmit()"
    [formGroup]="passwordForm"
  >
    <div class="text-center">
      <label class="block text-blue-600 font-medium text-lg"
        ><h2>Indique su nueva contraseña</h2></label
      >
    </div>

    <div class="flex-row p-2">

      <div class="flex-1 align-items-center justify-content-between mb-5">
        <span class="p-float-label my-3">
          <p-password
            formControlName="password"
            [minlength]="6" [maxLength]="8"
            [toggleMask]="true"
            inputStyleClass=" w-23rem max p-3"
            placeholder="Entre 6 a 8 caracteres"
          ></p-password>
          <label class="font-bold" htmlFor="password">Contraseña</label>
        </span>

        <span class="p-float-label my-4">
          <p-password
            formControlName="confirmPassword"
            [minlength]="6" [maxLength]="8"
            [toggleMask]="true"
            inputStyleClass=" w-23rem max p-3 "
            placeholder="Entre 6 a 8 caracteres"
          ></p-password>
          <label class="font-bold" htmlFor="confirmPassword">Repita contraseña</label>
        </span>
      </div>
      
      <button
        pButton
        pRipple
        type="submit"
        [disabled]="!isFormValid"
        label="Confirmar"
        class="w-full p-3 text-xl p-button-warning"
      ></button>

    </div>

  </form>

  </div>
  
</div>

<router-outlet></router-outlet>

