<div class="flex-grow bg-blue-nav">
  <!--Pantalla Sidebar-->

  <!--  Menu encabezado  -->
  <div
    class="bg-blue-primary-propcheck w-100 h-14 static align-items-center hidden md:flex"
  >
    <p-button
      styleClass="flex ml-4 text-white text-sm p-button-text"
      (click)="sidebarVisible = true"
      icon="pi pi-bars text-3xl"
    ></p-button>
    <div class="grow align-items-center">
      <p-image
        src="/assets/img/Logo PropCheck final_blanco.jpeg"
        alt="Propcheck Image"
        height="40"
        width="40"
        class="m-1 ml-3 translate-x-3 animate__animated animate__fadeInLeft"
      ></p-image>
    </div>

    <!--SideBar-->

    <p-sidebar
      class="flex items-center"
      [(visible)]="sidebarVisible"
      [showCloseIcon]="false"
    >
      <div
        class="flex justify-start align-items-center select-none flex-column"
      >
        <p-image
          src="/assets/img/Logo PropCheck final_blanco.jpeg"
          alt="Propcheck Image"
          height="120"
          width="120"
          class="m-3 mb-5 translate-x-3 animate__animated animate__fadeInLeft"
        ></p-image>
        <div class="flex flex-column">
          <div class="flex md:ml-3 mb-3 animate__animated animate__fadeInDown">
            <p-button
              label="Inicio"
              styleClass="text-white p-button-text "
              icon="fa-solid fa-house fa-lg text-white"
              routerlink="/"
            ></p-button>
          </div>
          <div
            class="flex md:ml-3 mb-3 text-900 font-medium animate__animated animate__fadeInDown"
          >
            <p-button
              label="Servicios"
              styleClass="text-white p-button-text "
              icon="fa fa-tasks fa-xl text-white"
            ></p-button>
          </div>

          <div
            class="flex md:ml-3 mb-3 text-900 animate__animated animate__fadeInDown"
          >
            <p-button
              label="Contáctanos"
              styleClass=" text-white text-sm p-button-text "
              icon="far fa-comment-alt fa-xl text-white"
            ></p-button>
          </div>
          <div
            class="flex md:ml-3 mb-3 text-900 font-medium animate__animated animate__fadeInDown"
          >
            <p-button
              label="Verifica tu informe"
              styleClass="text-white p-button-text "
              icon="fa-regular fa-circle-check fa-xl text-white"
            ></p-button>
          </div>
          <div
            class="flex m-0 md:ml-3 mb-3 text-900 animate__animated animate__fadeInDown"
          >
            <p-button
              label="Iniciar Sesión"
              styleClass="text-white text-sm p-button-text"
              icon="fa-regular fa-user fa-xl text-white"
              ClassName="flex m-auto my-auto "
              routerLink="/auth/login"
            ></p-button>
          </div>
        </div>
      </div>
    </p-sidebar>

    <div class="justify-items-end">
      <p-button
        label="Iniciar Sesión"
        styleClass="text-white text-sm p-button-text"
        ClassName=" font-['Helvetica'] leading-[normal] animate__animated animate__fadeInRight animate__delay-2s"
        routerLink="/auth/login"
      ></p-button>
    </div>
  </div>

  <!--Pantalla mobile-->
  <div
    class="flex md:w-1/3 justify-center items-center md:invisible visible md:hidden bg-transparent"
  >
    <div class="flex w-screen h-full md:shrink-0 bg-blue-nav">
      <p-image
        src="/assets/img/Logo PropCheck final_blanco 1.svg"
        alt="Propcheck Image"
        height="150"
        width="200"
        class="mx-auto md:my-auto p-4 mt-10"
      ></p-image>
    </div>
  </div>
  <div class="flex items-center justify-center md:visible invisible static">
    <div class="flex-col justify-center flex-grow text-center static">
      <img
        class="object-cover h-screen w-screen static"
        src="assets/img/login-1.svg"
        alt="Portada Login"
      />
    </div>
    <!--Formulario login-->
    <div
      class="flex-grow visible absolute bottom-40 md:bottom-auto md:left-auto left-0 md:right-auto right-0"
    >
      <form
        class="w-32rem surface-card md:px-6 py-2 shadow-xl md:rounded-3xl rounded-t-3xl"
        autocomplete="off"
        (ngSubmit)="onSubmit()"
        [formGroup]="passwordForm"
      >
        <div class="text-center">
          <img
            class="mx-auto mb-0"
            src="/assets/img/Recovery.svg"
            alt="Recovery"
          />
          <label
            class="text-blue-tittle text-2xl [font-family:Helvetica] text-[25px] font-bold leading-[normal]"
            ><h2>Recuperar contraseña</h2></label
          >
          <label class="text-center pb-0">
            Ingresa tu nueva contraseña aquí
          </label>
        </div>

        <div class="flex-row py-2">
          <div class="flex-row">
            <span class="p-float-label m-4 mx-6">
              <p-password
                formControlName="password"
                [minlength]="6"
                [maxLength]="8"
                [toggleMask]="true"
                inputStyleClass="w-20rem "
                placeholder="Entre 6 a 8 caracteres"
              ></p-password>
              <label class="font-normal" htmlFor="password">Contraseña</label>
            </span>

            <span class="p-float-label m-4 mx-6">
              <p-password
                formControlName="confirmPassword"
                [minlength]="6"
                [maxLength]="8"
                [toggleMask]="true"
                [feedback]="false"
                inputStyleClass=" w-20rem "
                placeholder="Entre 6 a 8 caracteres"
              ></p-password>
              <label class="font-normal" htmlFor="confirmPassword"
                >Repita contraseña</label
              >
            </span>
          </div>

          <div class="flex justify-center pb-2">
            <button
              pButton
              type="submit"
              [disabled]="!isFormValid"
              label="Confirmar"
              class="button1"
            ></button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
