:host ::ng-deep .pi-eye,
  :host ::ng-deep .pi-eye-slash {
      transform:scale(1.6);
      margin-right: 1rem;
      color: var(--secondary-color) !important;
  }


  @media (max-width: 660px) {
    body {
      font-size: 14px;
    }
  }
