<!-- Flex -->

<app-sidebar></app-sidebar>
<!-- Contenedor Sidebar (Degradé) -->

<div class="relative"></div>

<div class="block">
  <p-messages severity="warn">
    <ng-template pTemplate>
      <i class="fa-solid fa-triangle-exclamation text-yellow-500"></i>
      <div class="ml-1">Aplicación DEMO</div>
    </ng-template>
  </p-messages>

  <div class="flex flex-column">
    <div
      class="flex card-container shadow-3 align-items-center justify-content-center font-bold border-round m-2"
    >
      1
    </div>
    <div
      class="flex card-container shadow-3 align-items-center justify-content-center font-bold border-round m-2"
    >
      2
    </div>
  </div>
</div>
