<!--  Menu encabezado  -->
<div
  class="bg-blue-primary-propcheck w-100 h-14 static flex align-items-center"
>
  <p-button
    styleClass="flex ml-4 c-bluenav text-white text-sm p-button-text"
    (click)="sidebarVisible = true"
    icon="pi pi-bars text-3xl "
  ></p-button>
  <div class="grow align-items-center">
    <p-image
      src="/assets/img/Logo PropCheck final_blanco.jpeg"
      alt="Propcheck Image"
      height="40"
      width="40"
      class="m-1 ml-3 translate-x-3 animate__animated animate__fadeInLeft"
    ></p-image>
  </div>

  <!--SideBar-->

  <p-sidebar
    class="flex items-center justify-content-between"
    [(visible)]="sidebarVisible"
    [showCloseIcon]="false"
  >
    <div class="flex justify-start align-items-center select-none flex-column">
      <p-image
        src="/assets/img/Logo PropCheck final_blanco.jpeg"
        alt="Propcheck Image"
        height="120"
        width="120"
        class="m-3 mb-5 translate-x-3 animate__animated animate__fadeInLeft"
      ></p-image>
      <div class="flex flex-column">
        <div class="flex md:ml-3 mb-3 animate__animated animate__fadeInDown">
          <p-button
            label="Inicio"
            styleClass="text-white p-button-text "
            icon="fa-solid fa-house fa-lg text-white"
          ></p-button>
        </div>
        <div
          class="flex md:ml-3 mb-3 text-900 font-medium animate__animated animate__fadeInDown"
        >
          <p-button
            label="Servicios"
            styleClass="text-white p-button-text "
            icon="fa fa-tasks fa-xl text-white"
          ></p-button>
        </div>

        <div
          class="flex md:ml-3 mb-3 text-900 animate__animated animate__fadeInDown"
        >
          <p-button
            label="Contáctanos"
            styleClass=" text-white text-sm p-button-text "
            icon="far fa-comment-alt fa-xl text-white"
          ></p-button>
        </div>
        <div
          class="flex md:ml-3 mb-3 text-900 font-medium animate__animated animate__fadeInDown"
        >
          <p-button
            label="Verifica tu informe"
            styleClass="text-white p-button-text "
            icon="fa-regular fa-circle-check fa-xl text-white"
          ></p-button>
        </div>
        <div
          class="flex m-0 md:ml-3 mb-3 text-900 animate__animated animate__fadeInDown"
        >
          <p-button
            label="Iniciar Sesión"
            styleClass="text-white text-sm p-button-text"
            icon="fa-regular fa-user fa-xl text-white"
            ClassName="flex m-auto my-auto "
            routerLink="auth"
          ></p-button>
        </div>
      </div>
    </div>
  </p-sidebar>

  <div class="justify-items-end">
    <p-button
      label="Iniciar Sesión"
      styleClass="text-white text-sm p-button-text"
      ClassName=" font-['Helvetica']  leading-[normal] animate__animated animate__fadeInRight animate__delay-2s"
      routerLink="auth"
    ></p-button>
  </div>
</div>

<!--  Portada cuerpo  -->
<div className="w-[80rem] basis-0 h-0 static">
  <img
    class="w-max-[80rem] top-0 overflow-hidden static"
    src="../../assets/img/Portada_casa_1.svg"
    alt="Portada Home"
  />
</div>
<div
  class="fill-[#172D5B] w-52 opacity-50 blur-3xl top-50 left-50 inline-block absolute"
>
  <p class="text-black text-4xl font-bold font-['Helvetica'] absolute">
    Descubre la solución más inteligente<br />para administrar tus inmuebles
  </p>
</div>

<!-- Feature informativo  -->

<div class="flex justify-center md:justify-start">
  <div class="flex-col items-center w-full md:w-1/2 hidden md:flex">
    <div
      class="flex bg-blue-nav rounded-3xl mt-7 ml-5 text-center w-96 h-64 items-center invisible md:visible"
    >
      <p-image
        src="/assets/img/Logo PropCheck final_blanco.jpeg"
        alt="Propcheck Image"
        height="150"
        width="200"
        class="mx-auto"
      ></p-image>
    </div>
  </div>
  <div class="flex flex-col items-center justify-center w-full md:w-1/2">
    <div class="flex-col justify-center ml-10 flex-grow my-5 text-center">
      <div
        class="text-blue-nav text-xl md:text-3xl font-bold font-['Helvetica'] text-start md:my-2"
      >
        ¿Qué hacemos en PropCheck?
      </div>
      <p
        class="text-slate-800 text-sm md:text-2xl font-normal font-['Helvetica']leading-9 text-justify my-3 mr-6"
      >
        PropCheck entrega un informe concentrado de las deudas asociadas a una
        propiedad (casa, departamento, oficina, local comercial, bodega,
        estacionamiento y otros), abarcando servicios básicos como:
      </p>
      <div
        class="flex flex-row text-blue-900 text-sm md:text-2xl font-bold font-['Helvetica']leading-9 text-center my-2"
      >
        <div class="text-start w-1/4">
          • Agua
          <br />
          • Luz
          <br />
          • Gas
        </div>
        <div class="text-start">
          • Gastos comunes
          <br />
          • Contribuciones de bienes raíces
          <br />
          • Pago de derechos de aseo domiciliario
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Feature informativo con tarjetas -->

<div class="bg-gray-200 flex-wrap px-6 py-2 md:px-4 lg:px-6 text-center">
  <div class="mb-3 font-bold text-3xl md:visible m-3">
    <span class="text-blue-nav">Oprimiza HOY </span>
  </div>
  <span class="text-blue-800 text-2xl"
    >Tus procesos con nuestros beneficios</span
  >

  <div
    class="flex flex-wrap card-container justify-content-center align-items-center mt-3 mb-3"
  >
    <div class="card rounded-2xl shadow m-4">
      <span
        class="p-3 shadow-2 mb-3 mt-3 inline-block"
        style="border-radius: 10px"
      >
        <p-image src="../../assets/img/medal 1.png" class=" "></p-image>
      </span>
      <div class="text-xl mb-3 mt-3 p-3 font-medium">Precisión y Calidad</div>
      <span class="text-700 line-height-3 m-2"
        >Mediante la eliminación del error humano, garantizamos resultados
        precisos y de alta calidad en todas nuestras operaciones mediante
        nuestros procesos.</span
      >
    </div>

    <div class="card col-12 m-4">
      <span
        class="p-3 shadow-2 mb-3 mt-3 inline-block"
        style="border-radius: 10px"
      >
        <p-image src="../../assets/img/clock 1.png" class=" "></p-image>
      </span>
      <div class="text-xl mt-3 mb-3 font-medium">
        Información exacta y en tiempo real
      </div>
      <span class="text-700 line-height-3 m-2"
        >Proporcionamos datos precisos y actualizados al instante, permitiendo
        una toma de decisiones informada y ágil.</span
      >
    </div>
    <div class="card col-12 m-4">
      <span
        class="p-3 shadow-2 mt-3 mb-3 inline-block"
        style="border-radius: 10px"
      >
        <p-image src="../../assets/img/page-speed 1.png " class=" "></p-image>
      </span>
      <div class="text-xl mb-3 mt-3 font-medium">
        Eliminación de HH y reasignación de funciones
      </div>
      <span class="text-700 line-height-3 text-overflow m-2"
        >Al automatizar tareas, liberamos a los empleados de actividades
        repetitivas, para enfocarse en tareas de mayor valor agregado.</span
      >
    </div>
    <div class="card col-12 m-4">
      <span
        class="p-3 shadow-2 mb-2 mt-3 inline-block"
        style="border-radius: 10px"
      >
        <p-image
          src="../../assets/img/financial-profit 1.png"
          class=" "
        ></p-image>
      </span>
      <div class="text-xl font-medium mb-2 mt-2">
        Ahorro en costos presentes y ante futuros crecimientos
      </div>
      <span class="text-700 line-height-3 text-overflow m-2"
        >Nuestra solución proporciona eficiencias operativas y escalabilidad, lo
        que resulta en ahorros significativos tanto en el presente como en
        situaciones de crecimiento futuro.</span
      >
    </div>
    <div class="card col-12 m-4">
      <span
        class="p-3 shadow-2 mb-3 mt-3 inline-block"
        style="border-radius: 10px"
      >
        <p-image
          src="../../assets/img/team-management 1.png"
          class=" "
        ></p-image>
      </span>
      <div class="text-xl mb-3 mt-2 font-medium">
        Herramienta de gestión oportuna
      </div>
      <span class="text-700 line-height-3 text-justify m-2"
        >Nuestra plataforma ofrece herramientas de gestión y control en tiempo
        real, brindando una visión completa de las operaciones y permitiendo una
        respuesta rápida ante cambios o desafíos.
      </span>
    </div>
    <div class="card col-12 m-4 text-center">
      <span
        class="p-3 shadow-3 mb-3 mt-3 inline-block"
        style="border-radius: 10px"
      >
        <p-image src="../../assets/img/future 1.png" class=" "></p-image>
      </span>
      <div class="text-xl mb-2 mt-2 font-medium">
        Socio tecnológico de nuestros clientes
      </div>
      <span class="text-700 line-height-3 m-2"
        >Somos el socio estratégico para nuestros clientes, brindando soluciones
        tecnológicas innovadoras y un soporte constante para impulsar su éxito y
        crecimiento.</span
      >
    </div>
  </div>
</div>

<!-- Simples pasos -->

<div class="container mx-auto my-9">
  <div class="flex flex-col items-center justify-center">
    <h1 class="text-3xl font-bold text-center text-blue-800 my-3">
      En sólo 3 simples pasos
    </h1>
    <div class="flex flex-col md:flex-row w-full p-3">
      <div
        class="flex flex-col items-center justify-center w-full md:w-1/3 my-3"
      >
        <i
          class="fa fa-thin fa-chalkboard-user text-8xl text-blue-700 mb-3 md:mb-3"
        ></i>
        <div class="flex">
          <div
            class="rounded-full bg-blue-800 text-white w-14 h-12 flex items-center justify-center shadow-md border-2"
          >
            1
          </div>
          <p class="flex text-center mt-3">
            Ingresa los datos de la propiedad y selecciona el medio de pago
          </p>
        </div>
      </div>
      <div class="flex flex-col items-center justify-center w-full md:w-1/3">
        <i class="fa fa-thin fa-credit-card text-8xl text-blue-700 mb-1"></i>
        <div class="flex">
          <div
            class="rounded-full bg-blue-800 text-white w-14 h-12 flex items-center justify-center shadow-md mt-1 border-2"
          >
            2
          </div>
          <p class="flex text-center">
            Selecciona el informe que deseas comprar e ingresa los datos que te
            solicitan
          </p>
        </div>
      </div>

      <div class="flex flex-col items-center justify-center w-full md:w-1/3">
        <i
          class="fa fa-thin fa-file-arrow-down text-8xl text-blue-700 mb-1"
        ></i>
        <div class="flex">
          <div
            class="rounded-full bg-blue-800 text-white w-14 h-12 flex items-center justify-center shadow-md mt-1 border-2"
          >
            3
          </div>
          <p class="flex text-center">
            En breves instantes recibirás tu informe en el correo electrónico
            que ingresaste
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="bg-gray-200 flex-wrap px-6 py-2 md:px-4 lg:px-6 text-center"></div>

<!-- Carrusel  -->

<app-carousel></app-carousel>

<!-- footer  -->

<div class="py-2 px-4 mx-0 mt-0 lg:full border-round bg-blue-primary-propcheck">
  <div class="grid justify-content-between">
    <div class="col-12 md:col-3" style="margin-top: -1.5rem">
      <a
        class="flex flex-wrap align-items-center justify-content-center md:justify-content-start md:mb-0 mb-3 cursor-pointer"
      >
        <img
          src="/assets/img/Logo PropCheck final_blanco.jpeg"
          alt="footer PropCheck Logo"
          width="140"
          height="140"
          class="mr-8 lg:mr-5 mt-8"
        />
      </a>
    </div>

    <div class="col-12 md:col-10 lg:col-7">
      <div class="grid text-center md:text-left">
        <div class="col-12 md:col-7">
          <h4 class="font-medium text-2xl line-height-3 mb-3 text-100">
            Nuestra empresa
          </h4>
          <a class="line-height-3 text-xl block cursor-pointer mb-2 text-200"
            ><i class="pi pi-linkedin"></i> LinkedIn
          </a>
          <a class="line-height-3 text-xl block cursor-pointer mb-2 text-200"
            ><i class="pi pi-inbox"></i> News
          </a>
          <a class="line-height-3 text-xl block cursor-pointer mb-2 text-200"
            ><i class="pi pi-user-plus"></i> Trabaja con nosotros
          </a>

          <p-inputText
            id="email"
            (ngModel)="(correoElectronico)"
            disabled
            class="line-height-3 text-xl block cursor-pointer mb-2 text-200"
            (click)="enviarCorreo()"
          >
            <i class="pi pi-envelope"></i>
            Contacto: {{ correoElectronico }}
          </p-inputText>
        </div>

        <div class="col-12 md:col-3 mt-4 md:mt-0">
          <h4 class="font-medium text-2xl line-height-3 mb-3 text-100">
            Condiciones
          </h4>
          <a class="line-height-3 text-xl block cursor-pointer mb-2 text-200"
            ><i class="pi pi-comments"></i> FAQ</a
          >
          <a class="line-height-3 text-xl block cursor-pointer mb-2 text-200"
            ><i class="pi pi-info-circle"></i> Confidencialidad<img
              class="ml-2"
          /></a>
          <a class="line-height-3 text-xl block cursor-pointer mb-2 text-200"
            ><i class="pi pi-minus-circle"></i> Legal</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
