<app-sidebar></app-sidebar>

<div class="grid grid-cols-1">
  <img src="/assets/img/portada1.jpeg" alt="" class="w-full h-full absolute z-[-1] inset-0">
  <div
    class="card-component rounded-lg overflow-hidden shadow-lg border bg-white px-4 pb-6 pt-4 w-6/7 mx-auto mt-7">
    <p class="text-blue-primary-propcheck text-lg font-bold">Perfil de Usuario</p>
    <div class="grid grid-rows-4 mt-2">
      <div class="relative mb-3 mr-2 mt-3">
        <p class="font-helvetica lg:ml-3 ">Rut</p>
        <input type="text" placeholder="Edificio"
          class="bg-gray-200 h-9 border rounded-lg pr-10 pl-10 w-full lg:min-w-320px ">
      </div>
      <div class="relative mb-3 mr-2 mt-3">
        <p class="font-helvetica lg:ml-3">Nombre</p>
        <input type="text" placeholder="Edificio"
          class="bg-gray-200 h-9 border rounded-lg pr-10 pl-10 w-full lg:min-w-320px ">
      </div>
      <div class="relative mb-3 mr-2 mt-3">
        <p class="font-helvetica lg:ml-3">Apellidos</p>
        <input type="text" placeholder="Edificio"
          class="bg-gray-200 h-9 border rounded-lg pr-10 pl-10 w-full lg:min-w-320px ">
      </div>
      <div class="relative mb-3 mt-3">
        <p class="font-helvetica lg:ml:3">Email</p>
        <input type="text" placeholder="Edificio"
          class="bg-gray-200 h-9 border rounded-lg pr-10 pl-10 w-full lg:min-w-320px">
      </div>
    </div>
    <p class="mt-6 text-blue-primary-propcheck text-lg font-bold">Datos Empresa</p>
    <div class="grid grid-rows-4 mt-2">
      <div class="relative mb-3 mr-2 mt-3">
        <p class="font-helvetica lg:ml-3">Empresa</p>
        <input type="text" placeholder="Edificio"
          class="bg-gray-200 h-9 border rounded-lg pr-10 pl-10 w-full lg:min-w-320px ">
      </div>
      <div class="relative mb-3">
        <p class="font-helvetica lg:ml-3 mt-3">Rut</p>
        <input type="text" placeholder="Edificio"
          class="bg-gray-200 h-9 border rounded-lg pr-10 pl-10 w-full lg:min-w-320px mr-2">
      </div>
    </div>
    <div class="grid lg:grid-cols-2 grid-flow-col gap-4 justify-center mt-7">
      <button class="rounded-full border bg-white border-blue-500 p-1 lg:w-3 w-5 h-12">ACTUALIZAR CONTRASEÑA</button>
      <button class="rounded-full border bg-blue-500 border-blue-500 p-1 lg:w-3 w-5 h-12 text-white">GUARDAR</button>
    </div>
  </div>
</div>
