<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-1 gap-4 justify-center"> <!-- Columnas de la plantilla de cuadrícula -->
  <div class="card" *ngIf="loading">
    <!-- <p-progressBar mode="indeterminate" [style]="{ height: '6px' }"></p-progressBar> -->
  </div>
  <div class="container bg-white p-7 border border-gray-300 rounded-lg overflow-hidden shadow-lg mb-4 px-9">
    <!-- Contenedor flex con dirección de columna en pantallas pequeñas y dirección de fila en pantallas grandes -->
    <div class="relative lg:mb-0 lg:ml-8 lg:w-1/3"> <!-- Contenedor para el buscador -->
      <p class="font-helvetica">Buscador de Propiedades</p>
      <input type="text" placeholder="Buscar por dirección o comuna" [(ngModel)]="searchText" (input)="filterData()"
        class="w-5 h-7 lg:w-full lg:h-12 bg-white">
      <i class="absolute right-0 mt-3 mr-3 fas fa-search text-gray-400"></i>
    </div>

    <!-- Cards y otros elementos -->
    <div class="flex justify-center mb-5 mt-3"> <!-- Reducción del relleno a p-2 -->
      <app-apps-card [casas]="getCurrentPageData()"></app-apps-card>
    </div>
    <!-- Botones de paginación -->
    <p-paginator [rows]="pageSize" [totalRecords]="casas.length" (onPageChange)="onPageChange($event)"
      [showJumpToPageDropdown]="true" [showPageLinks]="false"></p-paginator>
  </div>
</div>
