<!-- <div class="card" *ngIf="loading">
    <p-progressBar mode="indeterminate" [style]="{ height: '6px' }"></p-progressBar>
  </div> -->
<div class="container bg-white p-9 border border-gray-300 rounded-lg mb-8 px-9 lg:min-w-lg">

  <!-- Contenedor flex con dirección de columna en pantallas pequeñas y dirección de fila en pantallas grandes -->
<div class="relative lg:mb-6 items-center mb-2"> <!-- Contenedor para el buscador -->
  <p class="font-helvetica lg:ml-8 ms:text-center">Buscador de Propiedades</p>
  <div class="relative">
    <input type="text" placeholder="Buscar por dirección o comuna" [(ngModel)]="searchText" (input)="filterData()"
      class="h-9 border rounded-lg bg-white pr-10 pl-10 lg:w-4 lg:ml-8 w-full"> <!-- Usar w-full aquí -->
    <i class="absolute right-0 justify-center fas fa-search text-gray-400 lg:min-w-search w-1 mt-2" ></i>
  </div>
</div>
  <!-- Cards y otros elementos -->
  <div class="flex justify-center mb-5 mt-3"> <!-- Reducción del relleno a p-2 -->
    <ng-container *ngIf="filteredCasas.length > 0; else noResults">
      <app-apps-card [casas]="getCurrentPageData()"></app-apps-card>
    </ng-container>
    <ng-template #noResults>
      <div class="text-center text-gray-600">No se encontraron resultados.</div>
    </ng-template>
  </div>
  <!-- Botones de paginación -->
  <p-paginator [rows]="pageSize" [totalRecords]="filteredCasas.length" (onPageChange)="onPageChange($event)"
    [showJumpToPageDropdown]="true" [showPageLinks]="false"></p-paginator>
</div>
